<h3><%= queuer.user.name %></h3>
<p><% queuer.rating.round.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% ((queuer.rating.round - 5) * -1 % 5).times do %>
                    <i class="far fa-star"></i>
                  <% end %></p>
<p><%= queuer.price_per_hour %>€/Hour</p>
