.banner-profil {
  height: 40vh;
  width: 100%;
  position:absolute;
  z-index:-1;
  img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    filter: brightness(30%);
  }
}

.info-profil {
  display:flex;
  justify-content:space-between;
  align-items:center;
  .stars {
    padding: 10px;
    padding-bottom: 0px;
    color:  #B8860B;
  }
}

.edit-part {
  width: 100%;
  padding-right: 10px;
  align-self:flex-end;
  text-align: right;
  color: #8B4513;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transition-duration: 1s;
  }
  h4 {
    font-size: 35px;
    margin-bottom: 0px;
  }
}

.edit-part a {
  color: #7F0400;
}

.big-dash-container {
  h2 {
    color: white;
    font-weight: bolder;
    padding-bottom: 40px;
  }
}

.container-card-profil {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  margin-top: 60px;
  .name {
    color:  #800000;
    padding: 10px;
    padding-bottom: 0px;
    h2 {
      font-weight: bolder;
    }
  }
  .description {
    text-align: justify;
    padding: 10px;
    padding-bottom: 5px;
  }
  img {
    height: 250px;
    width: 100%;
    object-fit:cover;
  }
}

.hide-comment {
  display: none;
}

.card-profil-bottom {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  padding-left: 10px;
  padding-bottom: 10px;
  .edit-part {
    max-width: 50px;
  }
}

.container-card-dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 40px;
  img {
    height: 200px;
    width: 150px;
    object-fit:cover;
  }
  .card-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .description-dash {
    text-align: justify;
    padding: 10px;
  }
  .btn {
    text-align: center;
    p {
      margin: 0px;
      padding: 0px;
    }
  }
}

.dash-tabs {
  margin-top: 40px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  .btn {
    width: 110px;
    text-align:center;
    align-self:center;
    margin-top: 10px;
  }
}

.top-card-dashboard {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
  .date {
    font-weight: lighter;
    color: gray;
    text-align:right;
  }
  .name {
    color: #008B8B;
    h3 {
      font-weight: bold;
    }
  }
}

.margintopmega {
  margin-top: 18%;
}

.text-dashboard {
  .description {
    text-align: justify;
    padding: 20px;
  }
}

.margintop {
  padding-top: 50px;
}

.ligne {
  border-bottom: 1px solid #c4cdcf;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 90%;
}

.pad-top {
  margin-top: 100px;
}

.comment-container {
  background-color: color;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  margin-top: 30px;
  .avatar {
    height: 45px;
    width: 45px;
    object-fit:cover;
    margin-right: 20px;
  }
}

.arrow {
  width: 100%;
  text-align:center;
  color: #008B8B;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    transition-duration: 1s;
  }
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 20px;
  .comment-top {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom: 20px;
    color: #008B8B;
    p {
      font-weight: bolder;
    }
  }
  i {
    color:  #B8860B;
  }
  .comment-content {
    text-align: justify;
  }
}

.user-comment {
  display: flex;
  justify-content: space-between;
  align-items:center;
  p {
    padding-left: 20px;
    margin-bottom: 0px;
  }
}

.container-edit {
  display: block;
  position: absolute;
  width: 40%;
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  z-index: 100;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

.darker {
  filter: brightness(30%);
  background-color: gray;
}

.modal-edit {
  display: none;
  background-color: white;
  padding: 30px;
  width: 40%;
  left: 30%;
  top: 10%;
  position: absolute;
  z-index:100;
}

