.container-card-queuer {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  margin-top: 60px;
  .name {
    color:  #800000;
    padding: 20px;
    padding-bottom: 0px;
    }
    h2 {
      font-weight: bolder;
    }
  }

.placebo-search {
  width: 100%;
  img {
    width: 100%;
    height: 47vh;
    object-fit:cover;
    position: center center;
  }
}
