.container-card-queuer {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  margin-top: 60px;
  .name {
    color:  #800000;
    padding: 20px;
    padding-bottom: 0px;
    }
    h2 {
      font-weight: bolder;
    }
  }

.search-banner {
  padding-top: 75px;
}

.filter-button {
  padding-right: 70px;
  padding-left: 70px;
}
